.read{
    color: black;
    max-width: fit-content;
    margin-left: 10px;
    margin-right: auto;
}

.new{
    color: blue;
    max-width: fit-content;
    margin-right: 10px;
    margin-left: auto;
}